@media only screen and (min-width: 480px) and (max-width: 639px) {
  .title--name {
    font-size: 60px;
  }
}

.socials {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 0;
  top: 35%;
}

.social--container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.social--container:hover {
  background-color: #e7e57c;
}

.social--container i {
  color: black;
  transition: all 0.5s ease;
}

.social--container:hover i {
  transform: scale(1.2);
}

.list--description {
  position: relative;
}

.list--description::after {
  content: "";
  position: relative;
  right: -5px;
  width: 1px;
  height: 90%;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
