.projects--contact--container {
  background-color: #f7f7f7;
  opacity: 1;
  background-image: radial-gradient(#8b8b8b 0.5px, #fcfcfc 0.5px);
  background-size: 10px 10px;
  height: 100%;
  width: 100%;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.content-div:hover .highlight {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ) !important;
}

.highlight {
  transition: all 0.5s ease;
}
